body {
    min-width: 500px;
    width: calc(100% - 8px);
}
#field table{
    margin: 0 auto;
}
#field td {
    height: 25px;
    width: 25px;
    border: 1px solid #000;
    cursor: pointer;
}

#field td.player1 {
    background: blue;
}
#field td.player2 {
    background: green;
}
#field td.winner {
    border: 1px solid red;
}

#field .win-notification {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 200px;
    background: lightgray;
    border: 1px solid gray;
}
#field p {
    margin: 0;
}
#field p.player1 {
    color: blue;
}
#field p.player2 {
    color: green;
}
#field button {
    cursor: pointer;
}